body {
	width: 100%;
	height: 100%;
}
.main, .footer {
	margin: 0 auto;
}
.main {
	width: 960px;
	height: 592px;
	background-color: #ec1;
	display: flex;
	flex-direction: space-between;
	background-image: linear-gradient(#000,#ddd);
}
.error {
	background-image: url(../img/404.png);
	position: absolute;
	height: 320px;
	width: 320px;
	margin-top: 40px;
	background-size: 100%;
	z-index: 0;
}
.text {
	width: 500px;
	margin-left: 400px;
	margin-top: 60px;
	position: absolute;
}
.repairs {
	position: absolute;
	margin-top: 200px;
	margin-left: 600px;
	height: 100px;
	width: 100px;
	background-image: url(../img/repairs.png);
	z-index: 1;
	background-size: 100%;
}